body {
    background-color: #e7e7e7;
}

.bg {
    height: 90vh;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e7e7;
}

.history {
    position: absolute;
    border-radius: 50px;
    background-color: #36474f;
    display: flex;
    overflow-y:auto;    
    align-items: end;
    justify-content: end;
    padding-bottom: 40px;
    transition: 0.5s;
}

.container {
    position: relative;
    width: 70%;
    height: 80vh;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

.history button {
    position: absolute;
    left: 20px;
    color: #e7e7e7;
    background: none;
    border: none;
}

.close {
    position: absolute;
    width: 30vw;
}

.display {
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    height: 40%;
    background-color: #36474f;
    color: #f2f6f7;
    display: flex;
    justify-content: center;
}

.buttons {
    background-color: #18212a;
    color: #f2f6f7;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 60%;
}

.width {
    width: 80%;
    display: grid;
    align-items: center;
}

.display-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 60px);
    justify-content: space-around;
    align-items: center;
    color: white;
}

button {
    background: none;
    color: #f2f6f7;
    border-radius: 50%;
    border: none;
    height: 45px;
    width: 45px;
}

button:hover {
    background-color: #36474f;
    transition: 3s;
}

.round {
    background-color: #e7e7e7;
    border: 1px solid black;
    border-radius: 50%;
    color: black !important;
}

.orange {
    background-color: orangered;
    color: white !important;
}

.input {
    height: 20vh;
}

.input-content {
    align-items: center;
    display: grid;
    justify-items: end;
    font-size: xx-large;
}


.justify {
    display: grid;
    justify-content: center;
}

.tip {
    font-weight: bolder;
    height: 25px;
    cursor: pointer;
}

@media screen and (min-width: 1440px) {
    .grid {
        grid-template-columns: repeat(4, 80px);
        grid-template-rows: repeat(5, 80px);

    }

    .container {
        width: 40%;
    }

}